.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;

  text-align: center;
}

@property --k {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}

h1 {
  font-size: 1.5em !important;
  padding-top: 20px;
  min-height: 70px;

  --k: 0;
  place-self: center;
  background: linear-gradient(
      90deg,
      hsl(calc(var(--k) * 1turn), 95%, 65%),
      hsl(calc(var(--k) * 1turn + 90deg), 95%, 65%)
    )
    text;
  color: transparent;
  font:
    900 clamp(0.875em, 7.25vw, 5em) arial black,
    sans-serif;
  filter: url(#f);
  text-align: center;
  text-transform: uppercase;
  /* needs support for animating custom properties */
  /* Firefox not quite there yet, but it's coming */
  animation: k 4s linear infinite;
}

@keyframes k {
  to {
    --k: 1;
  }
}
